.project {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;

  img {
    margin-bottom: 2em;
    width: 100%;
  }

  h3 {
    margin-bottom: 0.5em;
  }
}
