language: node_js
node_js:
  - "12.4.0"
cache:
  directories:
    - node_modules
before_script:
  - npm install
script:
  - npm run build
deploy:
 - provider: s3
   access_key_id: $HACKILLINOIS_ACCESS_KEY
   secret_access_key: $HACKILLINOIS_SECRET_KEY
   bucket: $HACKILLINOIS_BUCKET_NAME
   skip_cleanup: true
   local_dir: build
   on:
    branch: master
