html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    }
body {
    display: block;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: white;
}
@font-face {
    font-family: 'GothamBlack';
    src: local('GothamBlack'), url(./static/fonts/GothamBlack.otf) format('otf');
  }