html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    }
body {
    display: block;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-image: linear-gradient(to right top, #194f58, #195460, #185968, #195e70, #1a6378);
}